header{
  top: 0;
}

@media screen and (max-width: 760px){
  #fake-header {
      height: 70px !important;
  }
  section.home-content{
      padding-top: 0 !important;
  }
}

@media screen and (max-width: 760px){
  .wrapper.banner-ancho-completo{
  	margin-top: 20px;	
  }
}
