@font-face {
  font-family: 'icons-jumbo';
  src: url("") format('woff'),
       url("") format('truetype');
}
 
 [class^="icon-"]:before, [class*=" ico-"]:before {
  /*font-family: "icons-jumbo";*/
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

}

.icon-home-nuestras-tiendas:before { content: '\e800'; } 
.icon-home-ofertas:before { content: '\e801'; } 
.icon-home-papeleria-y-ofimatica-out:before { content: '\e802'; } 
.icon-home-precio:before { content: '\e803'; } 
.icon-home-preguntas-frecuentes:before { content: '\e804'; } 
.icon-home-promocion:before { content: '\e805'; } 
.icon-home-retracto-de-compra:before { content: '\e806'; } 
.icon-home-ropa-y-accesorios:before { content: '\e807'; } 
.icon-home-salud-y-bienestar:before { content: '\e808'; } 
.icon-home-supermercado:before { content: '\e809'; } 
.icon-home-supermercado-out:before { content: '\e80a'; } 
.icon-home-tecnologia:before { content: '\e80b'; } 
.icon-home-tecnologia-out:before { content: '\e80c'; } 
.icon-home-telefonos:before { content: '\e80d'; } 
.icon-home-terminos-condiciones:before { content: '\e80e'; } 
.icon-home-ubicacion:before { content: '\e80f'; } 
.icon-home-ubicacion-2:before { content: '\e810'; } 
.icon-home-ver-mas:before { content: '\e811'; } 
.icon-home-automovil:before { content: '\e812'; } 
.icon-home-automovil-out:before { content: '\e813'; } 
.icon-home-bebes:before { content: '\e814'; }
.icon-home-buscar-por-lista:before { content: '\e815'; }
.icon-home-carrito:before { content: '\e816'; }
.icon-home-condiciones-envio:before { content: '\e817'; }
.icon-home-cuenta:before { content: '\e818'; }
.icon-home-deportes:before { content: '\e819'; }
.icon-home-deportes-out:before { content: '\e81a'; }
.icon-home-electrodomesticos:before { content: '\e81b'; }
.icon-home-electrodomesticos-out:before { content: '\e81c'; }
.icon-home-envios:before { content: '\e81d'; }
.icon-home-ferreteria:before { content: '\e81e'; }
.icon-home-ferreteria-out:before { content: '\e81f'; }
.icon-home-garantias:before { content: '\e820'; }
.icon-home-hogar-out:before { content: '\e821'; }
.icon-home-hogar-y-decoracion:before { content: '\e822'; }
.icon-home-horarios:before { content: '\e823'; }
.icon-home-juguetes:before { content: '\e824'; }
.icon-home-juguetes-y-entretenimiento-out:before { content: '\e825'; }
.icon-home-mascotas:before { content: '\e826'; }
.icon-home-mascotas-out:before { content: '\e827'; }
.icon-home-medios-de-pago:before { content: '\e828'; }
.icon-home-mis-listas:before { content: '\e829'; }
.icon-home-moda-out:before { content: '\e82a'; }
.icon-home-muebles-out:before { content: '\e82b'; }
.icon-home-mundo-bebes-out:before { content: '\e82c'; }