/* Resize % with total width */
#paper-gift-container {
  background-color: #ffffff;
  max-width: 950px;
  min-height: 550px;
  padding: 30px 70px; }
  @media screen and (max-width: 759px) {
    #paper-gift-container {
      padding: 20px 5px; } }

#delivery-window-paper-gift .overlay__wrapper {
  max-width: 950px;
  min-height: 550px;
  width: 100%; }
  @media screen and (max-width: 759px) {
    #delivery-window-paper-gift .overlay__wrapper {
      width: 95%; } }
  #delivery-window-paper-gift .overlay__wrapper .text-description {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    width: 100%; }
  #delivery-window-paper-gift .overlay__wrapper .title-gift {
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
    text-align: center;
    margin-bottom: 34px; }
    #delivery-window-paper-gift .overlay__wrapper .title-gift h3 {
      font-size: 25px;
      font-weight: bold;
      border-bottom: solid 2px #DF0209;
      display: inline-block; }
      #delivery-window-paper-gift .overlay__wrapper .title-gift h3 .font-icn-cat {
        margin-right: 13px; }

.example-enter-active {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards; }

.data-target {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 759px) {
    .data-target {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .data-target .text-description {
    margin-bottom: 35px; }
  .data-target__data {
    width: 100%;
    max-width: 392px;
    min-height: 233px;
    background: url("urn:scrapbook:download:error:https://www.tiendasmetro.co/arquivos/tarjeta1-inactive.png");
    background-repeat: no-repeat !important;
    position: relative;
    -webkit-transition: .5s background;
    transition: .5s background; }
    @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
      .data-target__data {
        background: url("urn:scrapbook:download:error:https://www.tiendasmetro.co/arquivos/tarjeta1-inactivex2.png");
        background-size: 392px 233px; } }
    @media screen and (max-width: 759px) {
      .data-target__data {
        max-width: 294px;
        background-size: 100% !important;
        min-height: 195px; } }
    .data-target__data.focus {
      background: url(""); }
      @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
        .data-target__data.focus {
          background: url("");
          background-size: 392px 233px; } }
      @media screen and (max-width: 759px) {
        .data-target__data.focus {
          background-size: 100% !important; } }
    .data-target__data input {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      border-radius: 0;
      padding: 0 5px;
      background: none;
      position: absolute;
      right: 43px;
      font-family: "gift-font";
      font-size: 31px;
      color: #333333; }
      .data-target__data input.from {
        width: 220px;
        top: 68px; }
        @media screen and (max-width: 759px) {
          .data-target__data input.from {
            width: 176px;
            top: 42px;
            right: 25px; } }
      .data-target__data input.to {
        width: 202px;
        top: 123px; }
        @media screen and (max-width: 759px) {
          .data-target__data input.to {
            width: 162px;
            top: 87px;
            right: 24px; } }
  .data-target__text {
    width: 100%;
    max-width: 392px;
    min-height: 233px;
    background: url("urn:scrapbook:download:error:https://www.tiendasmetro.co/arquivos/tarjeta2-inactive.png");
    -webkit-transition: .5s background;
    transition: .5s background;
    background-repeat: no-repeat !important;
    position: relative; }
    @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
      .data-target__text {
        background: url("urn:scrapbook:download:error:https://www.tiendasmetro.co/arquivos/tarjeta2-inactivex2.png");
        background-size: 392px 233px; } }
    @media screen and (max-width: 759px) {
      .data-target__text {
        max-width: 294px;
        min-height: 195px;
        background-size: 100% !important; } }
    .data-target__text.focus {
      background: url(""); }
      @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
        .data-target__text.focus {
          background: url("");
          background-size: 392px 233px; } }
      @media screen and (max-width: 759px) {
        .data-target__text.focus {
          background-size: 100% !important; } }
    .data-target__text textarea {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      border-radius: 0;
      padding: 2px;
      width: 280px;
      height: 135px;
      background: none;
      position: absolute;
      right: 62px;
      top: 46px;
      font-family: "gift-font";
      font-size: 31px;
      color: #333333;
      resize: none;
      line-height: 43px; }
      @media screen and (max-width: 759px) {
        .data-target__text textarea {
          font-size: 25px;
          line-height: 33px;
          width: 214px;
          height: 107px;
          right: 48px;
          top: 32px; } }

.quantity-paper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .quantity-paper .text-description {
    margin-bottom: 35px; }
  .quantity-paper__select {
    width: calc(100% - 510px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .quantity-paper__select p {
      margin-bottom: 16px;
      font-size: 17px;
      font-weight: 400;
      color: #333333; }
  .quantity-paper__boxes {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 510px;
    max-width: 510px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .quantity-paper__boxes .gift-big {
      font-size: 119px;
      color: #808080;
      -webkit-transition: .5s;
      transition: .5s;
      margin: 8px; }
      .quantity-paper__boxes .gift-big.small {
        font-size: 78px; }
    .quantity-paper__boxes .gift-big-empty {
      font-size: 119px;
      color: #d9d9d9;
      margin: 8px;
      -webkit-transition: .5s;
      transition: .5s; }
      .quantity-paper__boxes .gift-big-empty.small {
        font-size: 78px; }

.button-paper {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 0; }
  .button-paper__btn {
    width: 100%;
    max-width: 260px;
    height: 48px;
    border: solid 1px #FF9700;
    color: #FF9700;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1em;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 10px; }
    .button-paper__btn:hover {
      color: #fff;
      background-color: #FF9700; }
    .button-paper__btn:disabled {
      background: #f4f5f5;
      border-color: #a7a7a7;
      color: #a7a7a7; }
      .button-paper__btn:disabled:hover {
        color: #a7a7a7;
        cursor: not-allowed;
        background: #f4f5f5;
        border-color: #a7a7a7; }
    .button-paper__btn.back {
      border-color: #757575;
      color: #757575; }
      .button-paper__btn.back:hover {
        background-color: #FFF;
        border-color: #000;
        color: #000; }

.quantitySelect {
  max-width: 140px;
  width: 100%; }
  .quantitySelect.is-open .Select-control {
    background: #f2f2f3; }
  .quantitySelect .Select-control {
    height: 52px;
    background: #f2f2f2;
    border: none; }
  .quantitySelect .Select-value,
  .quantitySelect .Select-placeholder {
    line-height: 52px !important; }
  .quantitySelect .Select-arrow {
    display: none; }
  .quantitySelect .Select-arrow-zone:after {
    font-family: "font-icon";
    -webkit-font-smoothing: antialiased;
    content: "\E908";
    color: #DF0209;
    font-size: 11px; }
  .quantitySelect .Select-menu-outer {
    border-top: 0;
    border: none; }
    .quantitySelect .Select-menu-outer .Select-option {
      background-color: #f2f2f2; }
      .quantitySelect .Select-menu-outer .Select-option.is-focused {
        background-color: #f2f2f2;
        color: #DF0209; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.paper-selector .text-description {
  margin-bottom: 35px; }

.paper-select {
  position: relative; }
  .paper-select .button-next,
  .paper-select .button-prev {
    cursor: pointer;
    width: 40px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    background: none;
    font-size: 1.25rem;
    border-radius: 3px;
    -webkit-transition: all .25s;
    transition: all .25s;
    position: absolute;
    top: 145px;
    z-index: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 759px) {
      .paper-select .button-next,
      .paper-select .button-prev {
        display: none; } }
    .paper-select .button-next:hover,
    .paper-select .button-prev:hover {
      border-color: #323232;
      color: #323233; }
    .paper-select .button-next.next,
    .paper-select .button-prev.next {
      right: -50px; }
    .paper-select .button-next.prev,
    .paper-select .button-prev.prev {
      left: -50px; }
  .paper-select__paper {
    height: 100%; }
    .paper-select__paper div {
      border: solid 3px #ebebeb;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 10px;
      position: relative; }
      .paper-select__paper div .img-wrapper {
        overflow: hidden;
        width: 391px;
        height: 120px;
        border: none;
        position: relative;
        border-radius: 6px;
        border: none; }
      .paper-select__paper div img {
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .paper-select__paper div .font-icn {
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: -17.5px;
        font-size: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 35px;
        height: 35px;
        background-color: #52c86b;
        color: #fff;
        border-radius: 50%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
  .paper-select .swiper-pagination {
    width: 100%;
    bottom: -14px; }
    .paper-select .swiper-pagination-bullet {
      margin: 0 5px; }
    .paper-select .swiper-pagination-bullet-active {
      background: #52c86b; }
  .paper-select .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .paper-select .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

input[type="radio"] {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer; }
  input[type="radio"]:hover + div {
    border-color: #cccccc; }

input[type="radio"].active + div, input[type="radio"]:checked + div {
  border: solid 3px #cccccc; }
  input[type="radio"].active + div .font-icn, input[type="radio"]:checked + div .font-icn {
    visibility: visible;
    opacity: 1; }

.paper-gift-add {
  border: solid 1px #d9d9d9;
  height: 64px;
  color: #8c8c8c;
  width: 100%;
  max-width: 438px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s; }
  .paper-gift-add.hide-btn {
    display: none; }
  .paper-gift-add:hover, .paper-gift-add.active {
    background-color: #f5f5f5;
    color: #333333;
    border-color: #333333; }
    .paper-gift-add:hover .font-icn-cat, .paper-gift-add.active .font-icn-cat {
      color: #DF0209; }
    .paper-gift-add:hover .font-icn, .paper-gift-add.active .font-icn {
      color: #DF0209;
      font-size: 13px;
      font-weight: 300; }
  .paper-gift-add .font-icn {
    font-size: 13px;
    font-weight: 300;
    margin-right: 8px; }
  .paper-gift-add .font-icn-cat {
    margin-right: 10px; }
  .paper-gift-add--product {
    height: 52px;
    width: 100%;
    max-width: 100%;
    margin-top: 18px; }
    @media screen and (max-width: 759px) {
      .paper-gift-add--product {
        width: 96%;
        margin: 10px auto; } }

#delivery-window-paper-gift-remove .overlay__wrapper {
  width: 100%;
  max-width: 650px;
  max-height: 220px; }

#delivery-window-paper-gift-remove .gift-remove-container {
  min-height: 220px;
  background-color: #ffffff;
  padding: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #delivery-window-paper-gift-remove .gift-remove-container__title {
    font-size: 23px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 40px; }
  #delivery-window-paper-gift-remove .gift-remove-container__btn {
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 3px; }
    #delivery-window-paper-gift-remove .gift-remove-container__btn--delete {
      background: #FF9700;
      color: #fff;
      max-width: 240px;
      font-weight: 600; }
      #delivery-window-paper-gift-remove .gift-remove-container__btn--delete:hover {
        background: #EF8800; }
    #delivery-window-paper-gift-remove .gift-remove-container__btn--close {
      max-width: 150px;
      border: solid 1px #333333;
      margin-right: 15px; }
      #delivery-window-paper-gift-remove .gift-remove-container__btn--close:hover {
        border-color: #0FA02E;
        color: #DF0209; }
  #delivery-window-paper-gift-remove .gift-remove-container__btn-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.js-delete-gift {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: solid 1px #333333;
  padding-bottom: 4px;
  margin: auto;
  margin-top: 15px; }
  .js-delete-gift .font-icn {
    font-size: 9px;
    margin-right: 8px; }
  .js-delete-gift:hover {
    color: #e90000;
    border-color: #e90000; }

@media screen and (max-width: 759px) {
  #delivery-window-paper-gift .overlay__wrapper {
    overflow-x: inherit; }
    #delivery-window-paper-gift .overlay__wrapper .text-description {
      margin-bottom: 15px;
      font-size: 15px; }
    #delivery-window-paper-gift .overlay__wrapper .title-gift {
      margin-bottom: 15px; }
      #delivery-window-paper-gift .overlay__wrapper .title-gift h3 {
        font-size: 20px; }
  #delivery-window-paper-gift-remove .overlay__wrapper {
    width: 95%; }
    #delivery-window-paper-gift-remove .overlay__wrapper .gift-remove-container {
      padding: 10px; }
      #delivery-window-paper-gift-remove .overlay__wrapper .gift-remove-container__title {
        margin-bottom: 25px;
        font-size: 20px; }
  .button-paper {
    position: relative;
    bottom: 0; }
  .quantity-paper__boxes {
    min-width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-height: 280px;
    overflow-y: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .quantity-paper__boxes .gift-big,
    .quantity-paper__boxes .gift-big-empty {
      font-size: 100px; }
  .quantity-paper__select {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px; }
    .quantity-paper__select .quantitySelect {
      max-width: 100%; }
  .quantity-paper .button-paper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    bottom: 20px; }
  .paper-selector .button-paper {
    position: absolute;
    bottom: 20px; }
  .paper-selector .img-wrapper {
    min-width: 285px;
    width: 100% !important;
    max-width: 390px; } }

/*# sourceMappingURL=overlay-paper-gift.css.map*/